#-------------------------------------------------------------------------------
# skronk.service
#
# Skronk Systemd Service Configuration File
#
# Start Skronk at boot as a persistent systemd service:
# $ sudo ln -s /home/pi/skronk/skronk/skronk.service /etc/systemd/system/skronk.service
# $ sudo systemctl enable skronk.service
#
# Commands:
# $ sudo systemctl status skronk    # display status
# $ sudo systemctl start skronk     # start now
# $ sudo systemctl restart skronk   # restart now
# $ sudo systemctl stop skronk      # stop now
#
# Cooper Baker (c) 2024
# http://nyquist.dev/skronk
#-------------------------------------------------------------------------------


[Unit]
Description=Skronk Firmware
After=network.target

[Service]
User=root
Type=simple
Restart=always
KillMode=process
WorkingDirectory=/home/pi/skronk
ExecStart=/usr/bin/python3 /home/pi/skronk/skronk.py

[Install]
WantedBy=multi-user.target


#-------------------------------------------------------------------------------
# eof
#-------------------------------------------------------------------------------
